<h2 class="">Resturant Profile</h2>
<div class="container">
    <div class="container-fluid">
        <div>
            <form>
                <div class="form-group row mb-3 mb-3">
                    <label for="restaurantName" class="col-md-4 col-form-label col-form-label-lg">Restaurant Name *</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="restaurantName" placeholder="Restaurant Name" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="tagLine" class="col-md-4 col-form-label col-form-label-lg">Restaurant Tag Line</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="tagLine" placeholder="Restaurant Tag Line">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="phoneNumber" class="col-md-4 col-form-label col-form-label-lg">Restaurant Phone Number *</label>
                    <div class="col-md-8">
                        <input type="tel" class="form-control form-control-lg" id="phoneNumber" placeholder="Restaurant Phone Number" required>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="email" class="col-md-4 col-form-label col-form-label-lg">Restaurant Email ID</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control form-control-lg" id="email" placeholder="Restaurant Email ID">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="managerName" class="col-md-4 col-form-label col-form-label-lg">Manager Name</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="managerName" placeholder="Manager Name">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="managerPhoneNumber" class="col-md-4 col-form-label col-form-label-lg">Manager Mobile Number</label>
                    <div class="col-md-8">
                        <input type="tel" class="form-control form-control-lg" id="managerPhoneNumber" placeholder="Manager Mobile Number">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="panNumber" class="col-md-4 col-form-label col-form-label-lg">Restaurant PAN No.</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="panNumber" placeholder="Restaurant PAN No.">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="panImage" class="col-md-4 col-form-label col-form-label-lg">Restaurant PAN Image upload Image</label>
                    <div class="col-md-8">
                        <input type="file" class="form-control form-control-lg" id="panImage">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="gstNumber" class="col-md-4 col-form-label col-form-label-lg">Restaurant GST Number</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="gstNumber" placeholder="Restaurant GST Number">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="gstImage" class="col-md-4 col-form-label col-form-label-lg">Restaurant GST Image upload image</label>
                    <div class="col-md-8">
                        <input type="file" class="form-control form-control-lg" id="gstImage">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="addressLine1" class="col-md-4 col-form-label col-form-label-lg">Address Line 1</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="addressLine1" placeholder="Address Line 1">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="addressLine2" class="col-md-4 col-form-label col-form-label-lg">Address Line 2</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="addressLine2" placeholder="Address Line 2">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="addressLine3" class="col-md-4 col-form-label col-form-label-lg">Address Line 3</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="addressLine3" placeholder="Address Line 3">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="pinCode" class="col-md-4 col-form-label col-form-label-lg">Pin Code</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="pinCode" placeholder="Pin Code">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="city" class="col-md-4 col-form-label col-form-label-lg">City</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="city" placeholder="City">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="state" class="col-md-4 col-form-label col-form-label-lg">State</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="state" placeholder="State">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="country" class="col-md-4 col-form-label col-form-label-lg">Country</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="country" placeholder="Country">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="openingHours" class="col-md-4 col-form-label col-form-label-lg">Restaurant Opening Timming</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control form-control-lg" id="openingHours" placeholder="e.g., 10 AM - 11 PM">
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="deliveryRadius" class="col-md-4 col-form-label col-form-label-lg">Restaurant Home Delivery Radius (in KM)</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control form-control-lg" id="deliveryRadius" placeholder="Home Delivery Radius">
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-lg btn-success" class="createRestaurant">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>